<div id="header">
	<div class="header_interior">
		<%= link_to image_tag('store/pants_store_logo.png'), url_for('/'),  :class => 'main-logo' %>
		<div class="bag-counter"></div>
		<ul class="main-nav">
			<li class="main-nav-item"><%= link_to 'women', '#' %></li>
			<li class="main-nav-item"><%= link_to 'men', '#' %></li>
			<li class="main-nav-item"><%= link_to 'kids', '#' %></li>
			<li class="main-nav-item"><%= link_to 'ideas', '#' %></li>
		</ul>
		<ul class="static-page-nav">
			<li class="static-nav-item"><%= link_to 'story', '#' %></li>
			<li class="static-nav-item"><%= link_to 'locations', '#' %></li>
			<li class="static-nav-item"><%= link_to 'contact', '#' %></li>
		</ul>
	</div><!-- header_interior -->
</div><!-- header -->